<style>
    input.ng-invalid.ng-dirty{
        border: 1px solid red;
    }
    .error_message{
        color: red;
    }
    .modal-header{
        background-color: #b3d4fc;
    }
    .modal-title{
        font-size: 150%;
    }
    .label{
        font-size: 200%;
    }
</style>
<form name="CreateGroupForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create group</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="container form-group">
            <label for="group_NameInput">Enter name for the group:</label></br>
            <input id="group_NameInput" name="gni" type="text" ng-model="groupNameInput" placeholder="Name" required/></br>
            <span class="error_message" ng-show="CreateGroupForm.gni.$error.required && CreateGroupForm.gni.$dirty">Name of the group is required!</span>
        </div>

        <div class="container form-group">
            <label>Students number:</label>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group number-spinner">
                <span class="input-group-btn data-dwn">
                    <button class="btn btn-default btn-info" ng-click="decrementValue()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                        <label class="form-control text-center" ng-bind="value"></label>
                        <span class="input-group-btn data-up">
                    <button class="btn btn-default btn-info" ng-click="incrementValue()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Start date:</label>
                        <p class="input-group">
                            <input type="date" ng-model="startDate" name="startDatePicker" required="true" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/" class="hidden">
                            <input name="startDatePicker" ng-model="startDate" type="text" class="form-control" ng-change="validateStartDate()" required="true" uib-datepicker-popup="{{format}}" is-open="startPicker.opened" datepicker-options="dateOptions" close-text="Close"/>
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="popupStartPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                        <span ng-show="CreateGroupForm.startDatePicker.$invalid && CreateGroupForm.startDatePicker.$dirty" class="error_message">Not valid!</span>
                        <span ng-show="startDate<currentDate" class="error_message">Start date is earlier then the currrent date!</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>End date:</label>
                        <p class="input-group">
                            <input type="date" ng-model="endDate" name="endDatePicker" required="true" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/" class="hidden">
                            <input type="text" name="endDatePicker" ng-model="endDate" required="true" class="form-control" uib-datepicker-popup="{{format}}" is-open="endPicker.opened" datepicker-options="dateOptions" close-text="Close"/>
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="popupEndPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                        <span ng-show="CreateGroupForm.endDatePicker.$invalid && CreateGroupForm.endDatePicker.$dirty" class="error_message">Not valid!</span>
                        <span ng-show="endDate<startDate" class="error_message">End date is earlier than the start date.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Teachers:</label>
                </div>
                <div class="col-md-6" id="teacherSelector">
                    <!--<select ng-model="selectedTeacher">-->
                    <select ng-model="selectedTeacher" class="dropdown">
                        <option ng-repeat="teacher in allTeachers">{{teacher}}</option>
                    </select>
                    <button class="btn btn-info" ng-disabled="allTeachers.length<1"  ng-click="addTeacherToTheList()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            </br>
            <div class="row">
                <table class="table">
                    <tr>
                        <th>Added Teachers</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="teacher in addedTeachersList">
                        <td>{{teacher}}</td>
                        <td>
                            <button ng-click="removeTeacherFromTheList($index)">-</button>
                        </td>
                    </tr>
                </table>
                <span ng-show="addedTeachersList.length<1" class="error_message">List of teachers is empty!</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <div class="container form-group">
            <div class="row">
                <!--<div class="col-md-6">-->
                <button class="btn btn-success" ng-disabled="CreateGroupForm.$invalid" ng-click="createGroup()" id="createButton">Create</button>
                <!--</div>-->
                <!--<div class="col-md-6">-->
                <button class="btn btn-warning" ng-click="cancelCreation()" id="cancelButton">Cancel</button>
                <!--</div>-->
            </div>
        </div>
    </div>
</form>